<main>
	<div class = "post">
	<% @tweets.each do |tweet| %>
			<div class = "post_inner">
				<div class = "post_icon">	<!--投稿者の画像-->
					<p><img src = "image/icon.png" alt = "アイコン"></p>
				</div>
				<div class = "post_user_name">
					<p>ユーザー1</p>
				</div>
				
				<div class = "post_text">	<!--投稿者の文章-->
					<p><%= link_to(tweet.content, "/tweets/#{tweet.id}")%></p>
				</div>
			</div>
	<%end%>
	</div>
			
</main>