<main>
			<!--戻るボタン-->
			<div class = "back">
				<div class = "back_btn">
					<i class="fas fa-arrow-left"></i><%= link_to("戻る", "/tweets/index")%>
				</div>
			</div>
			
			<!--post.idで対応予定-->
			<div class = "post_show">
				<div class = "post_show_inner">
					<div class = "post_show_icon">	<!--投稿者の画像-->
						<p><img src = "image/icon.png" alt = "アイコン"></p>
					</div>
					<div class = "post_show_user_name">
						<%= @tweet.id%>
					</div>
				
					<div class = "post_show_text">	<!--投稿者の文章-->
						<%= @tweet.content%>
					</div>
				</div>
			</div>
			
				
		</main>