/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
ul, li{
	list-style: none;	
}
a{
	text-decoration: none;
	color: #000000;
}

/*--header--------------------------------------------*/
/*header_leftとheader_rightを横に並べる*/
header{
	content: "";
	display: block;
	clear: both;
}
.header_left{
	width: 30%;
	float: left;
}
.header_right{
	width: 70%;
	float: right;
}

/*header_listのレイアウト調整*/
.header_list{
	float: right;
}
.header_list li{
	width: 0 auto;
	float: left;
	margin: 0 50px;
	font-size: 17px;
}

/*headerに下線を引く*/
header{
	height: 65px;
	border-bottom: 1px solid #000000;
}


