/*--TOP-----------------------------------------------*/
/*ロゴの位置調整*/
.top_site_logo_inner{
	width: 843px;
	height: 201px;
	padding-top: 200px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

/*ロゴの大きさ調整*/
.top_site_logo_inner img{
	width: 843px;
	height: 201px;
}