// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*--index-----------------------------------------------*/
.post_inner{
	content: "";
	display: block;
	clear: both;
}
.post_icon{
	width: 20%;
	float: left;
	/*border: 1px solid red;*/
}
.post_user_name{
	width: 70%;
	float:left;
	/*border: 1px solid blue;*/
}
.post_text{
	width: 70%;
	float: right;
	/*border: 1px solid yellow;*/
}

/*アイコンの大きさ*/
.post_icon img{
	width: 100px;
	height: 100px;
}

/*枠組み*/
.post_inner{
	width: 800px;
	height: 170px;
	margin: 0 auto;
	border: 1px solid #000000;
}

/*アイコンの位置*/
.post_icon img{
	padding: 0px 10px;
	border-radius: 50%;
}

/*ユーザー名*/
.post_user_name p{
	font-size: 20px;
}

/*テキスト位置*/
.post_text p{
	font-size: 25px;
}


/*--new_post-----------------------------------------------*/
/*新規投稿*/
.new_title{
	margin-top: 100px;
	margin-bottom: 50px;
}
.new_title h1{
	font-size: 50px;
	text-align: center;
}

/*新規投稿位置調整*/
.newpost_inner{
	width: 700px;
	margin: 0 auto;
}
.newpost_inner textarea{
	width: 700px;
	height: 200px;
	font-size: 20px;
}

/*送信ボタン*/
.newpost_submit_btn input{
	margin-top: 10px;
	width: 100px;
	float: right;
	font-size: 20px;
}



/*--show-----------------------------------------------*/
/*戻るボタン位置調整*/
.back{
	margin-top: 100px;
}

/*戻るボタン大きさ調整*/
.back_btn{
	width: 800px;
	margin: 0 auto;
	font-size: 25px;
}

/*投稿内容表示位置*/
.post_show_inner{
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	/*border: 1px solid red;*/
}

.post_show_inner{
	content: "";
	display: block;
	clear: both;
}
.post_show_icon{
	width: 20%;
	float: left;
	/*border: 1px solid red;*/
}
.post_show_user_name{
	width: 70%;
	float:left;
	/*border: 1px solid blue;*/
}
.post_show_text{
	width: 70%;
	float: right;
	/*border: 1px solid yellow;*/
}

/*アイコンの大きさ*/
.post_show_icon img{
	width: 100px;
	height: 100px;
}


/*アイコンの位置*/
.post_show_icon img{
	padding: 0px 10px;
	border-radius: 50%;
}

/*ユーザー名*/
.post_show_user_name p{
	font-size: 20px;
}

/*テキスト位置*/
.post_show_text p{
	font-size: 25px;
}



