// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*--signup-----------------------------------------------*/
/*新規会員登録位置調整*/
.signup_title{
	margin-top: 100px;
}
.signup_title h1{
	font-size: 50px;
	text-align: center;
}

/*ログイン情報*/
.signup_info{
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 20px;
	/*border: 1px solid #000000;*/
}
.signup_info p{
	font-size: 20px;
}
.signup_info input{
	height: 50px;
	width: 500px;
}

/*送信ボタン*/
.submit_btn button{
	float: right;
	font-size: 20px;
}

/*--login-----------------------------------------------*/
/*ログインタイトル位置調整*/
.login_title{
	margin-top: 100px;
}
.login_title h1{
	font-size: 50px;
	text-align: center;
}

/*ログイン情報*/
.login_info{
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	font-size: 20px;
	/*border: 1px solid #000000;*/
}
.login_info p{
	font-size: 20px;
}
.login_info input{
	height: 50px;
	width: 500px;
}

/*送信ボタン*/
.submit_btn input{
	float: right;
	font-size: 20px;
}


/*--mypage-----------------------------------------------*/
/*画像配置*/
.mypage_icon{
	width: 300px;
	margin: 0 auto;
	padding-top: 100px;
}

/*画像サイズ*/
.mypage_icon img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

/*自己紹介文*/
.mypage_text{
	width: 700px;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	/*border: 1px solid #000000;*/
}
