<main>
	<div class = "login_title">
		<h1>ログイン or サイトロゴ</h1>		<!--インスタのPC画面のタイトルイメージ-->
	</div>
			
	<div class = "login_info">
		<%=form_tag("/user/login_form") do%>
			<p><label>ユーザー名</label><br>
				<input type = "text" name = "name" style = "font-size: 25px;"></p>
	
			<p><label>パスワード</label><br>
				<input type = "text" name = "password" style = "font-size: 25px;"></p>
				
			<!--送信ボタン-->
			<div class = "submit_btn">
				<button type="submit">ログイン</button>
			</div>	
		<%end%>
	</div>
</main>