<main>
	<div class = "mypage">
				
		<!--アイコンの画像-->
		<div class = "mypage_icon">
			<img src = "image/icon.png">
		</div>
				
		<!--自己紹介文-->
		<div class = "mypage_text">
			<p>自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介<br>
				自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介<br>
				自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介<p>
		</div>
	</div>
</main>

<!--
ユーザーを作ってマイページで表示 -> createアクションを経由する
dbのカラムに自己紹介introを追加

-->