<main>
	<div class = "mypage">
				
		<!--アイコンの画像-->
		<div class = "mypage_icon">
			<img src = "image/icon.png">
		</div>
				
		<!--名前-->
		<div class = "mypage_name">
			<p><%= @user.name%></p>
		</div>
		
		<!--自己紹介文-->
		<div class = "mypage_text">
			<p><%= @user.intro%></p>
		</div>
	</div>
</main>

<!--
ユーザーのアイコン画像を表示
ログイン機能追加
ログアウト機能追加
-->