<main>
	<div class = "signup_title">
		<h1>新規登録 or サイトロゴ</h1>		<!--インスタのPC画面のタイトルイメージ-->
	</div>
	
	<div class = "signup_info">
		<form action = "#" method = "post">
			<p><label>ユーザー名</label><br>
				<input type = "text" name = "name" value = <%= "boitter@gmail.com"%> 
					style = "font-size: 25px;"></p>
	
			<p><label>メールアドレス</label><br>
				<input type = "text" name = "email" style = "font-size: 25px;"></p>
				
			<!--送信ボタン-->
			<div class = "submit_btn">
				<button type="submit">新規会員登録</button>
			</div>	
		</form>
	</div>
</main>